<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id="urlShortenerServiceImpl" class="UrlShortenerServiceImpl"/>

   <bean id="urlShortenerService" class="org.springframework.aop.framework.ProxyFactoryBean">
      <property name="proxyInterfaces" value="UrlShortenerService"/>
      <property name="target" ref="urlShortenerServiceImpl"/>
   </bean>

   <bean id="urlShortenerAction" class="UrlShortenerAction">
      <property name="urlShortenerService" ref="urlShortenerService"/>
   </bean>

</beans>
