<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
   
   <bean id="urlShortenerServiceImpl" class="com.repaskys.services.UrlShortenerServiceImpl"/>

   <bean id="urlShortenerService" class="org.springframework.aop.framework.ProxyFactoryBean">
      <property name="proxyInterfaces" value="com.repaskys.services.UrlShortenerService"/>
      <property name="target" ref="urlShortenerServiceImpl"/>
   </bean>

   <bean id="urlShortenerAction" class="com.repaskys.actions.UrlShortenerAction" scope="prototype">
      <property name="urlShortenerService" ref="urlShortenerService"/>
   </bean>

   <bean id="urlShortenerAdminAction" class="com.repaskys.actions.UrlShortenerAdminAction" scope="prototype">
      <property name="urlShortenerService" ref="urlShortenerService"/>
   </bean>

   <bean id="urlExpandAction" class="com.repaskys.actions.UrlExpandAction" scope="prototype">
      <property name="urlShortenerService" ref="urlShortenerService"/>
   </bean>

   <!-- tell Spring to use annotation-based congfigurations -->
   <context:annotation-config />

   <!-- tell Spring where to find the beans -->
   <context:component-scan base-package="com.repaskys"/>
   
</beans>
