<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
          http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

   <util:properties id="properties" location="classpath:#{envPropertiesFile}" />
   
   <!-- directory to scan for repository classes -->
   <jpa:repositories base-package="com.repaskys.repositories"/>

   <bean class="org.springframework.orm.jpa.JpaTransactionManager" id="transactionManager">
      <property name="entityManagerFactory" ref="entityManagerFactory"/>
   </bean>
   
   <!-- refer to http://static.springsource.org/spring/docs/3.1.0.RELEASE/reference/html/orm.html#orm-jpa-setup-lcemfb -->
   <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
      <property name="persistenceUnitName" value="jpa.url"/>
      <property name="jpaVendorAdapter">
         <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
            <property name="generateDdl" value="true"/>
            <property name="databasePlatform" value="${database.dialect}"/>
            <property name="showSql" value="true"/>
         </bean>
      </property>
      <!-- TODO do I need a load time weaver? -->
      <property name="dataSource" ref="dataSource"/>
   </bean>

   <!-- Could also use javax.validation.Validation.buildDefaultValidatorFactory() but I'm not sure what the difference is. -->
   <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>
   
   <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>

</beans>
